.custom-button {
  letter-spacing: 0.05rem;
  line-height: 3rem;
  padding: 0 1.5rem 0 1.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0%;
  background-color:#ffdcd1 ;
  color:black;  
  border: none;
  clip-path: polygon(4% 0, 96% 0, 100% 6%, 100% 92%, 96% 100%, 5% 100%, 0 93%, 0 6%);

  @media (max-width: 960px) {
    font-size: 0.8rem;
  }

  &:hover {
    background-color: #cbaaa0;
    //border: 0.1rem solid black;
    color: white;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}

