*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto'; */
}

/*Clase que evita que en el menu-phone no sea con scroll*/
.app-overflow{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}