.checkout-item {
    min-width: 80vw;
    display: flex;
    border-bottom: .1rem solid darkgray;
    padding: 1%;
    align-items: center;
  
    .image-container {  
        max-width: 0%;
        min-width: 22%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .name{
      width: 28%;
      padding-left:4%;
      font-size: 1.4rem;

      @media (max-width: 960px) {
        padding-left: 2%;
        font-size: 0.7rem;
        width: 32%;
        flex-grow: 0;
      }
    }
    .quantity{
      flex-grow: 1;
      font-size: 1.2rem;
    }
    .price {
      flex-grow: .8;
      font-size: 1.2rem;

      @media (max-width: 960px) {
        font-size: 0.8rem;
      }  
    }
  
    .quantity {
      display: flex;// por default flex contiene flex direction row
      flex-grow: 1;

      @media (max-width: 960px) {
        font-size: 0.8rem;
      }
  
      .arrow {
        cursor: pointer;
      }
  
      .value {
        margin: 0 4%; //top left&right
      }
    }
  
    .remove-button {
      padding-left: 3%;
      flex-grow:  0.6;
      font-size: 1.2rem;
      cursor: pointer;

      @media (max-width: 960px) {
        font-size: 0.9rem;
        padding-left: 3%;
      }
    }
  }